# Python venv
.venv/
venv/
env/

# python cacbe
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
build/
dist/

# python tools
.pytest_cache/
.mypy_cache/
.ruff_cache/
.tox/
.coverage
.coverage.*
htmlcov/
coverage.xml

# React / Node.js
node_modules/
.next/
.vite/
coverage/
*.tsbuildinfo
package-lock.json
package.json

# Conf and secret
.env
.env.*
!.env.example
!.env.sample
!.env.template
.envrc

# Logs
*.log

# DB local
*.sqlite3
*.sqlite3-journal
*.sqlite3-wal
*.sqlite3-shm
*.db

.idea/
*.swp
*.swo
*~
*.bak
.vscode

# System
.DS_Store
Thumbs.db

