.chat-wrapper {
  height: 100%;
  background-color: var(--c--contextuals--background--surface--secondary);
}

.chat {
  --chat-content-max-width: 950px;
  --chat-composer-max-width: 750px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.workflow-active-banner,
.workflow-suggestion {
  width: 100%;
  max-width: var(--chat-content-max-width);
  margin: var(--c--globals--spacings--sm) auto 0;
}
