body {
  margin: initial;
}

.app-logo {
  display: flex;
  align-items: center;
  gap: var(--c--globals--spacings--xs, 8px);
  font-weight: 700;
  font-size: var(--c--globals--font--sizes--md, 1rem);
}

.app-logo__icon {
  display: block;
  height: 28px;
  width: 28px;
}
